/* for small device */
@media screen and (max-width: 799px) {
    .full-body-1 {
        display: none;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        font-weight: lighter;
    }

    .full-body-2 {
        width: 100vw;
        position: relative;
    }

    /* Heading part */

    .top_part {
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
    }

    .bars-line {
        width: 17px;
        height: 17px;
        position: absolute;
        left: 15px;

    }

    .all_text {
        text-decoration: none;
        color: blue;
        font-size: 12px;
        position: absolute;
        left: 40px;
        border-bottom: 2px solid blue;
        padding: 18px 10px 16px;
    }

    .image_text {
        text-decoration: none;
        color: gray;
        font-size: 12px;
        position: absolute;
        left: 81px;
        padding: 18px 10px;
    }

    .six_dots_bento {
        width: 17px;
        height: 17px;
        position: absolute;
        right: 60px;
    }

    .link_profile {
        position: absolute;
        right: 15px;
    }

    .profile {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: black;
    }

    /* google logo */
    .google_logo_div {
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: end;
        /* background-color: red; */
    }

    .google_logo {
        margin: 25px auto 0;
        width: 70%;
        /* background: #000; */
        margin-bottom: -10px;
    }

    /* trending search line */
    .search_box_x {
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: rosybrown; */
    }

    .src_mg_ls {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search_box {
        display: flex;
        width: 100%;
        height: 40px;
        position: relative;
        border-radius: 50px 0 0 50px;
        border: 1px solid rgb(205, 205, 205);
        border-right: none;
    }

    .mag_icon_png {
        width: 22px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 15px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .voice_icon {
        width: 55px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(205, 205, 205);
        border-right: none;
        border-left: none;
    }

    .voice_icon_png {
        width: 14px;
    }

    .google_lens {
        width: 55px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 50px 50px 0;
        border: 1px solid rgb(205, 205, 205);
        border-left: none;
        /* background-color: red; */
    }

    .google_lens_png {
        width: 22px;
    }

    /* google offered */

    .language {
        height: 75px;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-size: 12px;
    }

    .gg_offer {
        margin-left: auto;
    }

    .bangla {
        text-decoration: none;
        margin-left: 6px;
        margin-right: auto;
        font-size: 11px;
    }

    /* tending search */

    .trending_list {
        width: 100%;
        /* margin-bottom: 23px; */
        margin-bottom: 10%;

    }

    .td_search_tdot {
        height: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 17px;
    }

    .trending_search {
        font-size: 16px;
        font-size: 1.3rem;
        margin-left: 10px;
        color: black;
    }

    .td_threeDot {
        width: 3px;
    }

    .show_td_search {
        height: 55px;
        display: flex;
        align-items: center;
        margin-right: 15px;
        margin-left: 15px;
        color: rgb(3, 0, 0);
        text-decoration: none;
        overflow: hidden;
        border-bottom: 1px solid rgb(205, 205, 205);
    }

    .tera_icon {
        font-size: 15px;
        font-weight: bold;
        color: black;
        width: 50px;
        text-align: center;
    }

    .trending_text_div {
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .trending_search_text {
        font-size: 14px;
    }

    /* Bottom part */
    .bottom_part {
        width: 100%;
        background-color: rgb(242, 241, 241);
    }


    .bangla_desh {
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 1rem;
        padding: 0 15px;
        color: rgb(21, 21, 21);
        border-bottom: 1px solid rgb(205, 205, 205);
    }

    .faka_ghor {
        height: 45px;
        border-bottom: 1px solid rgb(205, 205, 205);
    }


    .settings-part {
        font-size: 13px;
        display: flex;
        flex-flow: wrap row;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .dark-theme {
        text-decoration: none;
        padding-left: 25px;
        margin: 10px 0;
        text-align: end;
    }

    .settings {
        text-decoration: none;
        padding-left: 25px;
        margin: 10px 0;
        text-align: end;
    }

    .privacy {
        text-decoration: none;
        padding-left: 25px;
        margin: 10px 0;
        text-align: end;
    }

    .terms {
        text-decoration: none;
        padding-left: 25px;
        margin: 10px 0;
        text-align: end;
    }

    .advertising {
        text-decoration: none;
        padding-left: 25px;
        margin: 10px 0;
        text-align: end;
    }

    .business {
        text-decoration: none;
        padding-left: 25px;
        margin: 5px 0;
        text-align: end;
    }

    .about {
        text-decoration: none;
        padding-left: 25px;
        margin: 10px 0;
        text-align: end;
    }

    .settings-part>a {
        color:rgb(48, 48, 48);
    }

}



/* for computer */
@media screen and (min-width: 800px) {

    .full-body-2 {
        display: none;
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }

    .full-body-1 {
        display: block;
        width: 100vw;
        height: 100vh;
    }


    /* nav bar */
    .nav_container {
        display: flex;
        height: 50px;
        justify-content: end;
        align-items: center;
    }

    .nav_container ul {
        display: flex;
    }

    .nav_container ul li {
        list-style: none;
        margin: 0 10px;
    }

    .nav_container ul li a {
        text-decoration: none;
        color: black;
        font-size: 13px;
    }

    .nav_container ul li:hover {
        text-decoration: underline;
    }

    .six_dots_nav {
        height: 35px;
        width: 35px;
        display: grid;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-left: 5px;
    }

    .six_dots_img {
        width: 15px;
    }

    .six_dots_nav:hover {
        background-color: rgb(240, 237, 237);
    }

    .profile_nav_anchor {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        margin: 0 15px 0 10px;
    }

    .profile_nav_img {
        width: 35px;
    }

    .profile_nav_anchor:hover {
        background-color: rgb(237, 231, 224);
    }

    /* google logo */
    .google_logo {
        height: 230px;
        width: 100%;
        display: grid;
        align-items: end;
        overflow: hidden;

    }

    .google_logo_img {
        width: 400px;
        margin: 0 auto -40px;
    }

    /* Google search box */
    .search_box_container {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search_box {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
    }

    .search_box:hover {
        box-shadow: .5px .5px .5px 1px rgb(215, 213, 213);
    }

    .label_search {
        height: 45px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px 0 0 50px;
        border: 1px solid rgb(205, 205, 205);
        border-right: none;
    }

    .mag_icon_img {
        width: 20px;
    }

    .input_search {
        height: 45px;
        width: 350px;
        outline: none;
        border: none;
        border-top: 1px solid rgb(205, 205, 205);
        border-bottom: 1px solid rgb(205, 205, 205);
        font-size: 15px;
    }

    .voice_lens_container {
        display: flex;
        height: 45px;
        width: 90px;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 0 50px 50px 0;
        border: 1px solid rgb(205, 205, 205);
        border-left: none;
    }

    .voice_icon_img {
        width: 12px;
    }

    .google_lens_img {
        width: 20px;
    }

    /* Google search and feeling lucky */
    .container_SL {
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }

    .container_SL a {
        font-size: 15px;
        margin: 0 15px;
        /* height: 35px; */
        /* width: 150px; */
        padding: 10px;
        background-color: rgb(240, 237, 237);
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        border-radius: 5px;
    }

    .container_SL a:hover {
        border: 1px solid rgb(179, 175, 175);
        padding: 9px;
    }

    /* Google language */
    .language_container {
        height: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .language_container p {
        font-size: 13px;
    }

    .language_container a {
        text-decoration: none;
        color: blue;
        margin-left: 10px;
        font-size: 13px;
    }

    .language_container a:hover {
        text-decoration: underline;
    }

    /* web footer */
    .footer_container {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .country_name {
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 15px;
        border-bottom: 1px solid rgb(209, 208, 208);
    }

    .bottom_part {
        display: flex;
        justify-content: space-between;
        margin: 0 5px;
    }

    .bottom_part ul {
        display: flex;
    }

    .bottom_part ul li {
        list-style: none;
        padding: 10px 10px;
    }

    .bottom_part ul li a {
        text-decoration: none;
        color: black;
        font-size: 13px;
    }

    .bottom_part ul li:hover {
        text-decoration: underline;
    }

}